<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <input type="text" class="form-control mb-3" placeholder="Search..." [(ngModel)]="searchText" (ngModelChange)="filterData()">
      <table class="table table-bordered table-hover table-sm">
        <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Year</th>
          <th>Studios</th>
          <th>Producers</th>
          <th>Winner</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let movie of paginatedMovies; let i = index">
          <td>{{ movie.id }}</td>
          <td>{{ movie.title }}</td>
          <td>{{ movie.year }}</td>
          <td>{{ movie.studios.join(', ') }}</td>
          <td>{{ movie.producers.join(', ') }}</td>
          <td>{{ movie.winner ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
      </table>
      <nav>
        <ul class="pagination">
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="setPage(1)" aria-label="First">
              <span aria-hidden="true">&laquo;&laquo;</span>
            </a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === 1">
            <a class="page-link" (click)="setPage(currentPage - 1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li *ngFor="let page of [].constructor(totalPages); let i = index" class="page-item" [class.active]="isPageActive(i + 1)">
            <a class="page-link" (click)="setPage(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="setPage(currentPage + 1)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
          <li class="page-item" [class.disabled]="currentPage === totalPages">
            <a class="page-link" (click)="setPage(totalPages)" aria-label="Last">
              <span aria-hidden="true">&raquo;&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
